<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">
  <link rel="icon" href="/icon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <script src="https://kit.fontawesome.com/8a2a68e2d5.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Navbar header -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" onclick="reloadPage()">
        <i class="fa-solid fa-house-chimney"></i>
      </a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <form action="/login" method="GET">
              <button
                class="btn btn-success fs-6 me-4 mb-2 mt-2"
                type="Submit"
                data-bs-toggle="modal"
              >
                Iniciar sesión
              </button>
            </form>
          </li>
          <li class="nav-item">
            <form action="/registrarse" method="GET">
              <button
                class="btn btn-success fs-6 me-4 mb-2 mt-2"
                type="Submit"
                data-bs-toggle="modal"
              >
                Registrarse
              </button>
            </form>
          </li>
          <li class="nav-item">
            <div id="g_id_onload"
                 data-client_id="450042762936-m67fepfi9lmc6vut0j5do5tc0sjp54a1.apps.googleusercontent.com"
                 data-auto_prompt="false"
                 data-callback="handleCredentialResponse">
            </div>
            <div class="g_id_signin logout-button me-4 mb-2 mt-2"
                 data-type="standard"
                 data-size="large"
                 data-theme="outline"
                 data-text="sign_in_with"
                 data-shape="rectangular"
                 data-logo_alignment="left">
            </div>
          </li>
          <li class="nav-item">
            <button id="google_sign_out" 
                    class="logout-button 
                           logout-google-button 
                           btn btn-danger fs-6 me-4 mb-2 mt-2">
              <i class="fa-brands fa-google"></i> Finalizar sesión
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center text-white">
      <h1 class="mb-4">¡Te damos la bienvenida a la trivia!</h1>
      <h2 class="mb-4">
        <span class="text-decoration-underline">Temática</span>: Software y Tecnología
      </h2>
      <h2>¿Estás listo/a para comenzar?</h2>
    </div>
  </div>
  
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Goggle API -->
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <script>
    function handleCredentialResponse(response) {
      const body = {
        id_token: response.credential,
        authenticatedWithGoogle: true,
      };

      fetch('http://localhost:3000/google', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(body),
      })
        .then((r) => r.json())
        .then((resp) => {
          localStorage.setItem('email', resp.correo);
          console.log(resp);
          window.location.href = `/protected_page`;
        })
        .catch(console.warn);
    }

    const button = document.getElementById('google_sign_out');
    button.onclick = () => {
      console.log(google.accounts.id);
      google.accounts.id.disableAutoSelect();
      google.accounts.id.revoke(localStorage.getItem('email'), (done) => {
        localStorage.clear();
        location.reload();
      });
    };

    function reloadPage() {
      location.reload();
    }
  </script>
</body>
</html>
